.nav-bar{
    overflow: auto;
    height: 100vh;
    position: fixed !important;
    left: 0;
    top: 0;
    bottom: 0;
}

.nav-bar::-webkit-scrollbar {
    width: 0px;
}

.nav-items {
    font-weight: 600 !important; 
}

.logout-btn {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.profile_icon {
    height: 30%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    color: var(--white);
    font-weight: 600;
}

.content {
    margin-left: 250px;
    padding: 24px;
    background-color: var(--gray3);
}