.container {
  border-top: #DDE0E4 1px solid;
  border-bottom: #DDE0E4 1px solid;
}

.rotate-out {
  transition-duration: 300ms;
  transform: rotate(180deg);
}

.rotate-in {
  transition-duration: 300ms;
  transform: rotate(0deg);
}
